@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root styles */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Full-screen layout */
html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrolling */
  background: none; /* No background */
}

/* Ensure Game and Navbar take full width and height */


.neon-text {
  text-shadow: 0px 0px 8px rgb(139, 139, 207);
}

.neon-link {
  position: relative;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.neon-link:hover {
  color: rgb(229, 223, 162);
  text-shadow: 0px 0px 8px rgb(205, 205, 213);
}

.neon-btn {
  transition: all 0.3s ease-in-out;
}





/* Root container to fit full screen */
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #646cff;
  }
}
 